.secondary-button {
  font-family: 'Times New Roman', Times, serif;
  background: white;
  color:black;
  border: 1px solid black;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.secondary-button:hover {
  background: rgba(128, 128, 128, 0.521);
}

.artwork-info button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.artwork-info button:hover {
  background-color: #f0f0f0a6;
}

.artwork-card button{
  color: rgb(255, 255, 255);
  background-color: #f0f0f034;

}