body, main {
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
  color: white;
  background-color: #f5f5f5;
}

/* Main content */
main {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Welcome section */
.welcome {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.welcome h1 {
  font-size: 4rem;
}

.welcome p {
  line-height: 1.7rem;
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.Welcome p {
  margin-bottom: 2rem;
  line-height: 1.7rem;
  font-size: 2rem;
}

/* Artist section */
.artist-section {
  text-align: center;
}

.artist-section h1{
  font-size: 4rem;
  margin: 1;
  margin-bottom: 2rem;
}

.artist-section h2{
  font-size: 4rem;
  margin: 1;
  margin-bottom: 2rem;
}

.artist-section h3{
  line-height: 1.7rem;
  font-size: 2rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.artist-section img{
border-radius: 20px;
margin-bottom: 3rem;
}

/* Artwork grid */
.artwork-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.artwork-card {
  line-height: 1.7rem;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.432);
  margin-bottom: 10rem;
}

.artwork-card img {
  width: 100%;
  height: 235px;
  border-radius: 7.5px;
  object-fit: cover;
}

.artwork-info {
  padding: 1rem;
  color: white;
}

.artwork-info h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.artwork-info p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Artist section */
.artist-section2 {
  text-align: center;
}

.artist-section2 h2{
  font-size: 4rem;
  margin: 1;
  margin-bottom: 2rem;
}

.artist-section2 h3{
  line-height: 1.7rem;
  font-size: 2rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.artist-section2 img{
 width: 474px;
 height: 601px;
 border-radius: 20px;
 margin-bottom: 3rem;
}

.subtitle2 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Artwork grid */
.artwork-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.artwork-card2 {
  line-height: 1.7rem;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.697);
}

.artwork-card2 img {
  width: 100%;
  height: 235px;
  border-radius: 7.5px;
  object-fit: cover;
}

.artwork-info2 {
  padding: 1rem;
  color: black;
}

.artwork-info2 h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.artwork-info2 p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.artwork-info2 button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.artwork-info2 button:hover {
  background-color: #f0f0f0;
}